h1 {
    color: red;
}

h2 {
        /* סוג גופן */
    font-family: sans-serif;
        /* EM גודל גופן בהמשך נשתמש ביחידת */
    font-size: 60px;
        /* אם הטקסט יהיה מוגדש או לא  */
    font-weight: normal;
    font-style: italic;
}

a{
    /* מוריד קו תחתי ללינקים */
    text-decoration: none;
    color: red;
}

.para1 {
    /* ישור טקסט */
    /*  text-align: justify; */
    text-align: center;

    text-decoration: underline;
}