body {
    background: silver;
    font-family: sans-serif;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 8px;
    position: relative;
}

.logo{
    position: absolute;
    top: 50px;
    left: 420px;
}

.box1 {
    padding: 8px;
    background: orange;
}

.box2 {
    margin-top: 16px;
    padding: 8px;
    background: skyblue;
}